.App-header{ 
  border-bottom: 1px solid gray;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.haedder-logo{
  height: 100px;
 
 
}
 
.app-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
 
}
.item img{
  display: block;
  width: 400px;
  height: 350px;
 
 
}
